/* .canvas-container{
  width: 40vw;
  height: 40vw;
} */

.canvas-tools{
  background-color: #002333;
}

.border{
  border: 1px solid #DEEFE7;
  height: min-content;
  padding: .5rem;
  border-radius: 14px;
}

.border input{
  width: 100% !important;
}

form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #FEEFFE;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  text-align: center;
  z-index: 500;
}

form input{
  width: 10rem !important;
}

.button-row button{
  margin: 20px;
}

.signInButton{
  margin-top: 2rem !important;
  width: 30%;
  color: #FEEFFE !important;
  background-color: #159A9C !important;
}


@media (min-width: 1280px){
  .signIn {    
    width: 30vw;
  }

}

@media (max-width: 1280px){
  .signIn {
    width: 60vw;
  }

}

@media (max-width: 540px){
  .signIn {
    
    width: 80vw;
  }

}

@media (min-width: 1280px){
  .canvas-container{
    width: 40vw;
    height: 40vw;
  }
}


@media (max-width: 820px){
  .canvas-container{
    width: 80vw;
    height: 80vw;
  }
}

@media (max-height: 400px){
  .canvas-container{
    width: 80vh;
    height: 80vh;
  }
}

.modalContent button{
  margin: 5%;
}