.signIn{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #FEEFFE;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
}

.signIn input{
  width: 90%;
}


@media (min-width: 1280px){
  .signIn {    
    width: 30vw;
  }

  .signIn input{
    width: 300px !important;
  
  }
}

@media (max-width: 1280px){
  .signIn {
    width: 60vw;
  }

  .signIn input{
    width: 300px !important;
  
  }
}

@media (max-width: 540px){
  .signIn {
    
    width: 80vw;
  }

  .signIn input{
    width: 150px !important;
  
  }
}


.signInButton{
  margin-top: 2rem !important;
  width: 30%;
  color: #FEEFFE !important;
  background-color: #159A9C !important;
}